%td= "!?"
%td= select_tag "budgets[][account_id]", options_from_collection_for_select(@accounts, "id", "name"), prompt: 'Select Account'
%td= select_tag "budgets[][wunit]", grouped_options_for_select(@wunit), prompt: 'Select W.Unit'
%td= date_field_tag"budgets[][budget_date]", Date.today
%td= text_field_tag "budgets[][ammount]"
%td= text_field_tag "budgets[][text]"
%td= link_to 'Delete', '#', class: 'delete-link btn-danger'
