

<%= form_for(@budget) do |f| %>
  <% if @budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@budget.errors.count, "error") %> prohibited this budget from being saved:</h2>

      <ul>
      <% @budget.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field"> 
      <%= f.label :account_id %>
      <%= f.collection_select(:account_id, @accounts, :id, :name) %>

      <%= f.label :wunit %>
      <%= f.collection_select(:wunit, User.all + Project.all,:name,:name) %>     
            
      <%= f.label :budget_date %>
      <%= f.date_select :budget_date %>
      
      <%= f.label :ammount %>
      <%= f.text_field :ammount %>
      
      <%= f.label :text %>
      <%= f.text_field :text %>
      
	</div>
            
	<div class="budgets">
		<%= f.submit "Save", class: "btn btn-large btn-success" %>
	</div>
<% end %>
<br/>