<a class="btn btn-success" href="#">Assets<span class="badge">4203</span></a>
<a class="btn btn-danger" href="#">-Debt<span class="badge">-4200</span></a>
<a href="#">=</a>
<a class="btn btn-success" href="#">Income<span class="badge">0</span></a>
<a class="btn btn-danger" href="#">-Expenses<span class="badge">0</span></a>
<a href="#">=</a>
<a class="btn btn-default" href="#">Wealth<span class="badge">0</span></a>
<p>Unbalanced Amount<span class="badge">3</span></p>


= form_tag(budgets_path, remote: true, id: 'new-budget-form') do
  %table{:class => "table table-striped table-hover "}
    %tr
      %th
      %th *Account
      %th *Wealth Unit
      %th *Date d.m.y
      %th *Ammount
      %th Text
      %th Action
      
    %tr{:class => ""}
      = render 'budget_fields'

    %tr.actions
      %td
      %td= submit_tag 'POST',class: "btn btn-large btn-success" 
      %td= button_tag 'Add row', id: '_form',class: "btn btn-large btn-primary" 

    %tr.new_budget_row.hidden{:class => ""}
      = render 'budget_fields'

