<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>
      
      <%= f.label :group_id, "Change Your Wealth Group" %>
      <%= f.collection_select(:group_id, Group.all, :id, :name ) %>

      <%= f.submit "Save changes", class: "btn btn-large btn-success" %>
    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a>
      
  </div>
				 <div class="panel panel-danger">
				  <div class="panel-heading">
				    <h3 class="panel-title">First things first</h3>
				  </div>
				  <div class="panel-body">
				    If you don't have an existing 
		  	Wealth Group of your own go ahead and create one
				  </div>
				</div>
 	
		        
    <%= link_to "Create New Wealth Group", new_group_path , class: "btn btn-danger" %>
  
</div>

