<% provide(:title, "Edit user") %>
<h4>Update your profile</h4>

<div class="row">
  <div class="col-xs-5">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>


	<section>
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    </section>
    <% end %>
    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a>
  </div>
      <section>
        <div class="col-xs-5">
      	<h5>Group Settings</h5>
      <p>
  		  <%= link_to "Join existing Wealth Group", edit_group_user_path , class: "btn btn-primary" %>
      </p>
      <h6 class="text-warning"> <strong>or</strong></h6>
      <p>
    		<%= link_to "Create New Wealth Group", new_group_path , class: "btn btn-primary" %>
      </p>
  		<h6 class="text-warning">You can have only <strong>one Wealth Group</strong> !!!</h6>
  	<p>
    		<%= link_to "Requests for joining your Group", group_group_users_path , class: "btn btn-primary" %>
      </p>

  	</section>
  </div>
	<br />

</div>
