<% provide(:title, 'Create New Project') %>
<h3>Create your new Project!</h3>
<p class="text-info">Project can be a business, family member or activity 
	for whom you want to keep a separate accounting. </p>

<div class="row">
  <div class="span9 offset1">
    <%= form_for(@project) do |f| %>
    	<%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>


     
      <%= f.submit "New Project", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>