= form_tag(ledgers_path, remote: true, id: 'new-ledgers-form') do
  %table
    %tr
      = render 'ledger_fields'

    %tr.actions
      %td= submit_tag 'Save'
      %td= button_tag 'Add new ledger form', id: '_form2'

    %tr.new_ledger_row.hidden
      = render 'ledger_fields'

