%td= select_tag "ledger[][account_id]", options_from_collection_for_select(@accounts, "id", "name"), prompt: 'Account'
%td= select_tag "ledger[][wunit]", grouped_options_for_select(@wunit), prompt: 'W.Unit'
%td= date_field_tag"ledger[][post_date]", Date.today
%td= text_field_tag "ledger[][ammount]"
%td= text_field_tag "ledger[][text]"
%td= text_field_tag "ledger[][quantity]"
%td= link_to 'Delete', '#', class: 'delete-link btn-danger'
