<%= form_for @transaction do |f| %>



  
  <%= f.fields_for :ledgers do |builder| %>
  
   <%= builder.label :text,"Text"  %><br />
  <%= builder.text_field :text  %><br />
      
  <% end %>
 
  
  <div class="actions">
    <%= f.submit "Submit"%>
  </div>
<% end %>
