.pull-right
  = form_tag actual_budget_future_reports_path, remote: true, method: :get do
    = text_field_tag 'start_date',nil, class: 'form-control', placeholder: 'Start date', data: {behaviour: 'datepicker'}
    = text_field_tag 'end_date',nil, class: 'form-control', placeholder: 'End date', data: {behaviour: 'datepicker'}
    = submit_tag 'submit', class: 'btn btn-primary'

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Account
      %th Actual
      %th Budget
      %th Difference
  %tbody
    - @accounts_pl.each do |account|
      %tr
        %td
          = account.name
        %td
          -if @ledgers_hash_pl[account.id]
            = @ledgers_hash_pl[account.id].inject(0) { |sum, obj| sum + obj.ammount }
        %td
          -if @budgets_hash_pl[account.id]
            = @budgets_hash_pl[account.id].inject(0) { |sum, obj| sum + obj.ammount }
        %td
          = @total[account.id]
    %tr
      %td
        %b Wealth for the period
      %td
        %b
          = number_with_precision( @ledgers_pl.map(&:ammount).inject(0, &:+),precision: 2, separator: '.', delimiter: ',')
      %td
        %b
          = number_with_precision( @budgets_pl.map(&:ammount).inject(0, &:+),precision: 2, separator: '.', delimiter: ',')
      %td
        %b= number_with_precision( @total.inject(0) {|sum, (k, v)| sum + v }, precision: 2, separator: '.', delimiter: ',')

= high_chart("my_id5", @chart_actual_budget)
