<footer class="footer">
  <small>
    <p>Copyright © 2013 WealthOZ.com.</p> 
    <p>All Rights Reserved. </p>

  </small>
  <div id="social">
  <nav>
    <ul>
    	<%= link_to image_tag("social/b.png", alt: "got wealth"), 'http://blog.wealthoz.com/' %>
		<%= link_to image_tag("social/f.png", alt: "facebook"), 'https://www.facebook.com/WealthOZ' %>
		<%= link_to image_tag("social/t.png", alt: "twitter"), 'https://twitter.com/wealthoz/' %>
		<%= link_to image_tag("social/g.png", alt: "google+"), 'https://plus.google.com/+Wealthoz/about' %>
		<%= link_to image_tag("social/p.png", alt: "pinterest"), 'http://pinterest.com/nahalius/boards/' %>

    </ul>
  </nav>
  </div>
</footer>
