<div class="navbar navbar-fixed-top navbar-default">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to "Wealth OZ", root_path, id: "logo" %>
          <div class="container-fluid nav-collapse">
            <ul class="nav">
                <li><%= link_to '<i class="icon-bullhorn "></i> Comment'.html_safe, root_path %></li>
                
                <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-book "></i> Approach <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
          		<li><%= link_to "Why",    why_path %></li>
         		<li><%= link_to "How",    how_path %></li>
                <li><a href="#">Blog</a></li>   
              </ul>	    
              </li> 

              <% if signed_in? %>
              
              <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-cogs "></i> Settings <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to '<i class="icon-user "></i> Profile'.html_safe, current_user %></li>
                <li><%= link_to "User Settings", edit_user_path(current_user) %></li>
                <li><%= link_to "Group Settings",  manage_groups_path %></li>
                <li><%= link_to '<i class="icon-wrench "></i> Accounts'.html_safe,  accounts_path %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to '<i class="icon-power-off "></i> Sign out'.html_safe, signout_path, method: "delete" %>
                </li>
              </ul>
              
           	 <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-play "></i> Post <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Purchases</a></li>
                <li><a href="#">Income</a></li>
                <li><a href="#">Revaluation</a></li>
                <li><a href="#"><%= link_to '<i class="icon-pencil "></i> General Accounting'.html_safe, new_ledger_path %></a></li>
              </ul>	
              
              <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-sun"></i> Budget <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Add New</a></li>
                <li><a href="#">Edit</a></li>
                <li><a href="#">Goals</a></li>      
              </ul>	
              
			<li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-signal"></i> Report <b class="caret"></b>               
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">Wealth Index</a></li>
                <li><a href="#">Group Balance Sheet</a></li>
                <li><a href="#">Income and Expences by WU</a></li>
                <li><a href="#">Income and Expences by months</a></li>
                <li><a href="#">Budget vs. Actual</a></li>
                <li><%= link_to '<i class="icon-list-alt "></i> Chronology'.html_safe, ledgers_path %></li>      
              </ul>	                                    
              
 			<li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
               <i class="icon-globe "></i>  Altogether <b class="caret"></b>               
              </a>
              <ul class="dropdown-menu">
              	<li><%= link_to '<i class="icon-group "></i> Members'.html_safe, users_path %></li>
                <li><a href="#">Wealth Index</a></li>
                
              </ul>	                                             
  
            </li>
            <% else %>
            <li><%= link_to '<i class="icon-signin "></i> Sign in'.html_safe, signin_path %></li>
          <% end %>


            </ul>
         </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
</div>
